h1.title {
    font-size: 3em;
    font-weight: 900;
}
  
h2.title {
    font-size: 2.5em;
    font-weight: 800;
}
  
h3.title {
    font-size: 2.25em;
    font-weight: 700;
}
  
h4.title {
    font-size: 2em;
    font-weight: 600;
}
  
h5.title {
    font-size: 1.75em;
    font-weight: 600;
}
  
h6.title {
    font-size: 1.5em;
    font-weight: 600;
}